<header class="flex flex-wrap items-center justify-between gap-4 bg-superficie px-6 py-4 text-abissal">
  <div class="md:flex-1">
    <a routerLink="/" class="inline-block text-center">
      <span class="block font-logo text-4xl">Sonar</span>
      <span class="text-sm">Quanto mais profundo, mais pesado.</span>
    </a>
  </div>

  <nav class="flex gap-8 text-lg">
    <a routerLink="/" routerLinkActive="font-semibold underline"
       [routerLinkActiveOptions]="{ exact: true }">Produtos</a>
    <a routerLink="/carrinho" routerLinkActive="font-semibold underline">
      Carrinho ({{ carrinho.quantidade() }})
    </a>
    <a routerLink="/suporte" routerLinkActive="font-semibold underline">Suporte</a>
  </nav>

  <div class="hidden md:block md:flex-1"></div>
</header>